@model CorretoraABC.Web.Models.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4 class="display-4">Relação de Dados do Período:</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                Data
            </th>
            <th>
                Fechamento
            </th>
            <th>
                EMA 9
            </th>
            <th>
                EMA 12
            </th>
            <th>
                EMA 26
            </th>
            <th>
                MACD
            </th>
            <th>
                MACD Signal
            </th>
            <th>
                MACD Histograma
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.MenorQuantidade; i++) {
        <tr>
            <td>
                @Html.Raw(Model.Cotacoes.ElementAt(i).Data.ToString("dd-MM-yyyy"))
            </td>
            <td>
                @Html.Raw(Model.Cotacoes.ElementAt(i).Fechamento.ToString("#,##0.00"))
            </td>
            <td>
                @Html.Raw(Model.ValoresEma9.ElementAt(i).Valor.ToString("#,##0.00"))
            </td>
            <td>
                @Html.Raw(Model.ValoresEma12.ElementAt(i).Valor.ToString("#,##0.00"))
            </td>
            <td>
                @Html.Raw(Model.ValoresEma26.ElementAt(i).Valor.ToString("#,##0.00"))
            </td>
            <td>
                @Html.Raw(Model.ValoresMacd.ElementAt(i).Valor.ToString("#,##0.00"))
            </td>
            <td>
                @Html.Raw(Model.ValoresMacd.ElementAt(i).ValorSignal.ToString("#,##0.00"))
            </td>
            <td>
                @Html.Raw(Model.ValoresMacd.ElementAt(i).ValorHistorico.ToString("#,##0.00"))
            </td>
        </tr>
}
    </tbody>
</table>

</div>
